@import "input.css";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid goldenrod;
}

body{
    font-family: 'Plus Jakarta Sans', sans-serif;
}

div.form{
    width: 50%;
    height: auto;
    padding: 1rem;
}